<section id="carousel-section">
    <div id="hero-carousel"
         class="carousel slide"
         data-bs-ride="carousel"
         data-bs-touch="true">
        <div class="carousel-indicators">
            <button type="button"
                    data-bs-target="#hero-carousel"
                    data-bs-slide-to="0"
                    class="active"
                    aria-current="true"
                    aria-label="Slide 1"></button>
            <button type="button"
                    data-bs-target="#hero-carousel"
                    data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button"
                    data-bs-target="#hero-carousel"
                    data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <a href="#">

            <div class="carousel-item active c-item">
                <img src="~/images/carousel1.jpg"
                     class="d-block w-100 c-img"
                     alt="..." />
            </div>
            </a>

            <a href="home">

            <div class="carousel-item c-item">
                <img src="~/images/carousel2.jpg"
                     class="d-block w-100 c-img"
                     alt="..." />
            </div>
            </a>

            <a>

            <div class="carousel-item c-item">
                <img src="~/images/carousel3.jpg"
                     class="d-block w-100 c-img"
                     alt="..." />
            </div>
            </a>
        </div>
        <button class="carousel-control-prev"
                type="button"
                data-bs-target="#hero-carousel"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next"
                type="button"
                data-bs-target="#hero-carousel"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<section id="testimonial" class="  pt-5 mt-5">
    <div class="container">
        <div class="sub-bg row pb-1 m-5">
            
                <img src="~/images/dark_dragon.jpg"
                     data-mdb-lazy-load-init
                     data-mdb-lazy-load-initialized="true"
                     class="animation fade-in col-12 col-lg-6"
                     alt="" />
            
            <div class="col-12 col-lg-6 d-flex flex-column align-items-center justify-content-center text-dark">
                <h1>BEYONCE YOUR IMAGINATION</h1>
                <p>
                    Nguyễn Hoàng Long là con rồng có niềm đam mê to lớn với âm nhạc, thiên văn học, sinh học, địa chất, nhưng chuyên ngành mà anh ấy chọn là tin học.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="dark-picture">
    <div class="container">
        <div class="row" >
            <div class="col-12 col-lg-6 d-flex flex-column align-items-center justify-content-center text-white">
                <h1>NGUYỄN HOÀNG LONG</h1>
                <h1>NGUYỄN HOÀNG LONG</h1>
                <h1>NGUYỄN HOÀNG LONG</h1>
                <h1>NGUYỄN HOÀNG LONG</h1>
                <h1>NGUYỄN HOÀNG LONG</h1>
                <h1>NGUYỄN HOÀNG LONG</h1>
                <h1>NGUYỄN HOÀNG LONG</h1>
                <h1>NGUYỄN HOÀNG LONG</h1>
                <h1>NGUYỄN HOÀNG LONG</h1>
                <h1>NGUYỄN HOÀNG LONG</h1>
                <h1>NGUYỄN HOÀNG LONG</h1>
            </div>
            <div class="col-12 col-lg-6 d-flex justify-content-center">
                <img src="~/images/couple_state.jpeg"
                     data-mdb-lazy-load-init
                     data-mdb-lazy-load-initialized="true"
                     class="animation fade-in"
                     alt="" />
            </div>
        </div>
    </div>
</section>

<section id="gallery">
    <div class="container">
        <div class="row justify-content-center align-items-center g-1">
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <img src="~/images/gallery1.jpg" style="max-width:100%"/>
            </div>

            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <img src="~/images/gallery2.jpeg" style="max-width:100%" />
            </div>

            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <img src="~/images/gallery3.jpg" style="max-width:100%" />
            </div>

            <div class="col-md-8 d-flex justify-content-center align-items-center">
                <img src="~/images/gallery4.jpeg" style="max-width:100%" />
            </div>

            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <img src="~/images/gallery6.jpg" style="max-width:100%" />
            </div>

            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <img src="~/images/gallery5.jpg" style="max-width:100%" />
            </div>

            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <img src="~/images/gallery7.jpeg" style="max-width:100%" />
            </div>

            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <img src="~/images/gallery8.jpeg" style="max-width:100%" />
            </div>
        </div>
    </div>
   
    <!--
        <div class="">
                <img src="~/images/gallery2.JPEG" />
            </div>

            <div class="">
                <img src="~/images/gallery3.jpeg" />
            </div>

            <div class="long">
                <img src="~/images/gallery4.jpeg" />
            </div>

            <div class="">
                <img src="~/images/gallery5.jpg" />
            </div>

            <div class="">
                <img src="~/images/gallery6.jpg" />
            </div>

            <div class="">
                <img src="~/images/gallery7.jpeg" />
            </div>

            <div class="">
                <img src="~/images/gallery8.jpeg" />
            </div>
    -->
</section>
                   