@model IEnumerable<PerBlog.Models.Blog>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container py-5">
    <h1 class="brand-banner">
        WELCOME TO DRAGON BLOG
    </h1>
    <div class="row row-cols-1 row-cols-md-2 my-5 g-4">
        @foreach (var item in Model)
        {

            <div class="col">
                    <a class="card-a" asp-action="Details" asp-route-id="@item.Id">
                    <div class="card d-flex flex-column">
                        <img src="../images/@item.TenAnh" class="card-img-top" alt="...">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">
                                @Html.DisplayFor(modelItem => item.TieuDe)
                            </h5>
                            <p class="blog-p">
                                Xem bài viết
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon-width">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3" />
                                </svg>
                            </p>
                        </div>
                    </div>
                    </a>
            </div>
        }
    </div>
</div>
